{% extends "base.html" %}
{% block active_navbar %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'create' %}">Create<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'manage' %}">Manage</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'recover' %}">Recover</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#text-tab">Text</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#up-tab">U/P</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#file-tab">File</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="text-tab" role="tabpanel" aria-labelledby="nav-home-tab">
                    <h5 class="card-title text-center">New Text-based Share</h5>
                    <form>
                        <div class="form-group">
                            <label for="form-text-label">Label</label>
                            <input type="text" class="form-control" id="form-text-label" placeholder="Share Label">
                        </div>
                        <div class="form-group">
                            <label for="form-text-data">Data</label>
                            <input type="text" class="form-control" id="form-text-data" placeholder="Share Data">
                        </div>
                        <div class="form-group">
                            <label for="form-text-select">Passphrase Complexity</label>
                            <select class="form-control" id="form-text-select">
                                <option>4</option>
                                <option>8</option>
                                <option>12</option>
                                <option>16</option>
                                <option>20</option>
                                <option>24</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#text-based-modal" onclick="handle_text_modal_create()">Create</button>
                    </form>
                    <div class="modal fade" id="text-based-modal" tabindex="-1" role="dialog" aria-labelledby="text-based-modal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="text-based-modal">Create New Share</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="text-modal-body">
                                    </div>
                                    <div class="progress">
                                        <div id="text-modal-progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="up-tab" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <h5 class="card-title">User/Password-based Shares</h5>
                    {% if up_shares %}
                        <div class="accordion" id="up-based-accordion">
                            {% for up_share in up_shares %}
                                <div class="card">
                                    <div class="card-header" id="up-based-heading{{forloop.counter}}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#up-based-collapse{{forloop.counter}}" aria-expanded="true" aria-controls="up-based-collapse{{forloop.counter}}">{{up_share.label}} : {{up_share.display_hash}}</button>
                                        </h5>
                                    </div>

                                    <div id="up-based-collapse{{forloop.counter}}" class="collapse" aria-labelledby="up-based-heading{{forloop.counter}}" data-parent="#up-based-accordion">
                                        <div class="card-body">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Username</th>
                                                        <th scope="col">Encrypted Password</th>
                                                        <th scope="col">Size (in bytes)</th>
                                                        <th scope="col">Countdown</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{up_share.username}}</td>
                                                        <td>{{up_share.password}}</td>
                                                        <td>{{up_share.size}}</td>
                                                        <td>{{up_share.countdown}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="card-text">Nothing to show here</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="file-tab" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <h5 class="card-title">File-based Shares</h5>
                    {% if file_shares %}
                        <div class="accordion" id="file-based-accordion">
                            {% for file_share in file_shares %}
                                <div class="card">
                                    <div class="card-header" id="file-based-heading{{forloop.counter}}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#file-based-collapse{{forloop.counter}}" aria-expanded="true" aria-controls="file-based-collapse{{forloop.counter}}">{{file_share.filename}} : {{file_share.display_hash}}</button>
                                        </h5>
                                    </div>

                                    <div id="file-based-collapse{{forloop.counter}}" class="collapse" aria-labelledby="file-based-heading{{forloop.counter}}" data-parent="#file-based-accordion">
                                        <div class="card-body">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Encrypted Data</th>
                                                        <th scope="col">Size (in bytes)</th>
                                                        <th scope="col">Countdown</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{file_share.display_data}}</td>
                                                        <td>{{file_share.size}}</td>
                                                        <td>{{file_share.countdown}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="card-text">Nothing to show here</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{block.super}}
    <script type="text/javascript">
        function handle_text_modal_create(){
            var modal_progress_bar = document.getElementById("text-modal-progressbar");
            modal_progress_bar.style = "width: 0%";

            var data = document.getElementById("form-text-data").value;
            var complexity = document.getElementById("form-text-select").value;

            encrypt_data(complexity, data, 1000, modal_progress_bar);
        }
    </script>
{% endblock %}
