{% extends "base.html" %}
{% block active_navbar %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'create' %}">Create</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'manage' %}">Manage<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'recover' %}">Recover</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#text-tab">Text</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#up-tab">U/P</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#file-tab">File</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="text-tab" role="tabpanel" aria-labelledby="nav-home-tab">
                    <h5 class="card-title">Text-based Shares</h5>
                    {% if text_shares %}
                        <div class="accordion" id="text-based-accordion">
                            {% for text_share in text_shares %}
                                <div class="card">
                                    <div class="card-header" id="text-based-heading{{forloop.counter}}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#text-based-collapse{{forloop.counter}}" aria-expanded="true" aria-controls="text-based-collapse{{forloop.counter}}">{{text_share.label}} : {{text_share.display_hash}}</button>
                                        </h5>
                                    </div>

                                    <div id="text-based-collapse{{forloop.counter}}" class="collapse" aria-labelledby="text-based-heading{{forloop.counter}}" data-parent="#text-based-accordion">
                                        <div class="card-body">
                                            <table class="table table-hover table-borderless">
                                                <tbody>
                                                    <tr>
                                                        <td>Encrypted Data</td>
                                                        <td>{{text_share.display_data}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Size (in bytes)</td>
                                                        <td>{{text_share.size}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Countdown</td>
                                                        <td>{{text_share.countdown}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row justify-content-center">
                                                <div class="col-4">
                                                    <button class="btn btn-danger" onclick="delete_share({{ text_share.id }});">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="card-text">Nothing to show here</p>
                    {% endif %}

                </div>
                <div class="tab-pane fade" id="up-tab" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <h5 class="card-title">User/Password-based Shares</h5>
                    {% if up_shares %}
                        <div class="accordion" id="up-based-accordion">
                            {% for up_share in up_shares %}
                                <div class="card">
                                    <div class="card-header" id="up-based-heading{{forloop.counter}}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#up-based-collapse{{forloop.counter}}" aria-expanded="true" aria-controls="up-based-collapse{{forloop.counter}}">{{up_share.label}} : {{up_share.display_hash}}</button>
                                        </h5>
                                    </div>

                                    <div id="up-based-collapse{{forloop.counter}}" class="collapse" aria-labelledby="up-based-heading{{forloop.counter}}" data-parent="#up-based-accordion">
                                        <div class="card-body">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Username</th>
                                                        <th scope="col">Encrypted Password</th>
                                                        <th scope="col">Size (in bytes)</th>
                                                        <th scope="col">Countdown</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{up_share.username}}</td>
                                                        <td>{{up_share.password}}</td>
                                                        <td>{{up_share.size}}</td>
                                                        <td>{{up_share.countdown}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="card-text">Nothing to show here</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="file-tab" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <h5 class="card-title">File-based Shares</h5>
                    {% if file_shares %}
                        <div class="accordion" id="file-based-accordion">
                            {% for file_share in file_shares %}
                                <div class="card">
                                    <div class="card-header" id="file-based-heading{{forloop.counter}}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#file-based-collapse{{forloop.counter}}" aria-expanded="true" aria-controls="file-based-collapse{{forloop.counter}}">{{file_share.filename}} : {{file_share.display_hash}}</button>
                                        </h5>
                                    </div>

                                    <div id="file-based-collapse{{forloop.counter}}" class="collapse" aria-labelledby="file-based-heading{{forloop.counter}}" data-parent="#file-based-accordion">
                                        <div class="card-body">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Encrypted Data</th>
                                                        <th scope="col">Size (in bytes)</th>
                                                        <th scope="col">Countdown</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{file_share.display_data}}</td>
                                                        <td>{{file_share.size}}</td>
                                                        <td>{{file_share.countdown}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="card-text">Nothing to show here</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
