{% extends "base.html" %}
{% block active_navbar %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'my_shares' %}">My Shares <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'recover' %}">Recover</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#text-tab">Text</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#up-tab">U/P</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#file-tab">File</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="text-tab" role="tabpanel" aria-labelledby="nav-home-tab">
                    <h5 class="card-title">Text-based Shares</h5>
                    {% if text_shares %}
                        <div class="accordion" id="accordionExample">
                            {% for text_share in text_shares %}
                                <div class="card">
                                    <div class="card-header" id="heading{{forloop.counter}}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">{{text_share.label}} : {{text_share.unencrypted_hash}}</button>
                                        </h5>
                                    </div>

                                    <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Encrypted Data</th>
                                                        <th scope="col">Size (in bytes)</th>
                                                        <th scope="col">Countdown</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{text_share.data}}</td>
                                                        <td>{{text_share.size}}</td>
                                                        <td>{{text_share.countdown}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="card-text">Nothing to show here</p>
                    {% endif %}

                </div>
                <div class="tab-pane fade" id="up-tab" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <h5 class="card-title">User/Password-based Shares</h5>
                    {% if up_shares %}
                        {% for up_share in up_shares %}
                            <p class="card-text">{{up_share.label}}</p>
                        {% endfor %}
                    {% else %}
                        <p class="card-text">Nothing to show here</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="file-tab" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <h5 class="card-title">File-based Shares</h5>
                    {% if file_shares %}
                        {% for file_share in file_shares %}
                            <p class="card-text">{{file_share.label}}</p>
                        {% endfor %}
                    {% else %}
                        <p class="card-text">Nothing to show here</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
