{% extends "base.html" %}
{% block active_navbar %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    {% if request.user.is_authenticated %}
    <li class="nav-item active">
    <a class="nav-link" href="{% url 'my_shares' %}">My Shares <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'recover' %}">Recover</a>
    </li>
    {% endif %}
</ul>
{% endblock %}
